* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

:root {
    --grid-size: 80px;
}

.calculator-grid {
    width: max-content;
    margin: auto;
    transform: translateY(35vh);
    display: grid;
    grid-template-columns: var(--grid-size) var(--grid-size) var(--grid-size) var(--grid-size);
    grid-template-rows: var(--grid-size) var(--grid-size) var(--grid-size) var(--grid-size)  var(--grid-size)   var(--grid-size) ;
}

.output {
    grid-column: 1/5;
    border: 1px solid black;
}

.current {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
}

.span-two {
    grid-column: 1/3;
}

.equal {
    grid-column: 3/5;
}